//variables
$orange: #ed7d3a
$blue: #4f839d
$green: #8ec16e
$darkgrey: #262626

//resets/normalized
body
  margin: 0
  padding: 0
  color: $darkgrey
a
  color: inherit
  text-decoration: none
  &:inherit
    color: inherit
h1

h2
  display: inline-block
  padding: 3px 7px
  color: $blue
  border-left: 1px solid $orange
  border-right: 1px solid $orange

//navigation
nav

//gallery
#gallery
  display: flex
  max-width: 600px
