//variables
$orange: #ed7d3a
$blue: #4f839d
$green: #8ec16e
$darkgrey: #262626
$lightgrey: #d6d6d6
$grey: #919191

$hand: 'Lakki Reddy', cursive

//resets/normalized
body
  margin: 0
  padding: 0
  color: $darkgrey
a
  color: inherit
  text-decoration: none
  &:inherit
    color: inherit
h1

h2
  display: inline-block
  padding: 3px 7px
  color: $blue
  text-align: center
  font-family: $hand
  font-size: .9rem
  margin: 14px auto
  &:before, &:after
    content: ""
    height: .6rem
    width: 1px
    display: inline-block
    background-color: $orange
    margin: 0 5px





//navigation
nav
  h2:hover
    color: $orange
  svg
    fill: $blue
    margin: 0 5px
    padding: 0
    height: 1rem
    width: 1rem
    &:hover
      fill: $orange
//gallery
#gallery
  margin: 0 auto
  display: flex
  max-width: 800px
  flex-flow: row
  flex-wrap: wrap
  a
    margin: 25px
    width: 180px
    text-align: center
    box-shadow: 1px 1px 5px 3px $grey
    &:hover
      box-shadow: 1px 1px 6px 2px $grey

  img, video
    margin-top: 15px
    border: 1px solid $lightgrey
